/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ------------------------global classes---------------------*/
*{
  font-family:"Gothic A1";
  box-sizing:border-box;
}
img{
  width:100%;
}
.tupperware{
  margin:0 auto;
  max-width:1170px;
  box-sizing: border-box;
}
.container{
  padding:0 5%;
}
.float{
  float:left;
}
.thin{
  font-weight:100;
}
.light{
  font-weight:300;
}
.regular{
  font-weight:400;
}
.heavy{
  font-weight:700;
}
.green{
  color:#39bb6d;
}
.light-blue{
  color:#3185b5;
}
.light-dark-blue{
  color:#205e82;
}
.white{
  color:#c7c8d4;
}
.no-margin{
  margin:0;
}
.bigtext{
  font-size:1.5em;
}
.biggertext{
  font-size:2.2em;
}
.center{
  text-align:center;
}
.textbox{
  background-color:#0c4071;
  padding:15px;
  box-shadow:8px 8px rgba(36, 54, 70, .4);
  margin:20px;
  border-radius:3px;
}
.sec-1-bg{
  background-image:url("sec-1-bg.png");
}
.sec-2-bg{
  background-image:url("sec-2-bg.png");
}
.sec-3-bg{
  background-image:url("sec-3-bg.png");
}
.sec-1-bg, .sec-2-bg, .sec-3-bg{
  background-size:cover;
  background-position:center;
}
.sec-1, .sec-2, .sec-3{
  padding:30px 0 50px 0;
}
.sec-1, .sec-3{
  background-color:rgba(202, 203, 215, .85);
}
.sec-2{
  background-color:rgba(36, 54, 70, .9);
  color:rgb(202 203 215);
}

/*-------dropdown nav-----------------------------------------------------------*/
.nav-container{
  padding-top:256px;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgba(36, 54, 70, .9);
  font-family: Arial;
  /*position:relative;
  top:550px;*/
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 12px;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
  transition:.3s;
  color: #cacbd7;
}

.nav-content-container{
  width:100%;
  padding:0 3%;
  margin:0 auto;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  color: #cacbd7;
  outline: none;
  padding: 15.5px 0;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  width:100%;
}
.navbar a, .dropdown, .navbar button{
  width:16.666666%;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover{
  background-color: rgb(21 192 235);
  color:white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(36 54 70);
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width:100%;
}

/* Add a grey background color to dropdown links on hover */


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding:0; */


/*-------------header----------------------------------------------------*/
.header-banner{
  padding-top:80px;
  width:100%;
  float:left;
  max-width:700px
}
.header{
    height:300px;
    background-image: url("header-bg-2.png");
    background-size:cover;
    background-position:0 -160px;
    background-color:#cccccc;
}

/*---------------footer-------------*/
footer{
  background-image: url("header-bg-2.png");
  background-size: cover;
  background-position:center;
  width:100%;
  height:100px;
  color: #cacbd7;

}
.footer-bg{
  background-color: rgba(36, 54, 70, .9);
  height:inherit;
  color: #cacbd7;
}
.footer-content{
  padding-top:20px;
}
footer a{
  color: #cacbd7;
  text-decoration:none;
  transition:.3s;
}
footer a:hover{
  color:#39bb6d;
}

/*----------------------homepage-----------------------------*/
.homeheader{
  text-align:center;
  padding:10px 0;
  background-color:#243646;
}
.home-sec-1 img{
  width:100%;
  margin-bottom:-50px
}
.home-sec-1 .textbox{
  width:95%;
  margin:0 auto;
  margin-bottom:30px;
}
#home-sec-2-intro p{
  text-align:center;
}
#home-sec-2-intro h4{
  margin:10px 0;
}
.home-sec-2-links{
  width:100%;
}
.home-sec-2-boxes{
  display:flex;
  justify-content:space-between;
  align-content:center;
  margin-top:20px;
}
.link-box{
  width:70%;
  height:55px;
  display:flex;
  padding:15px;
  font-size:20px;
  text-decoration:none;
  background-color:#3185b5;
  border-radius:3px;
}
#home-sec-2-text{
  margin:0 auto;
  display:flex;
  justify-content:space-evenly;
  align-items:baseline;
  flex-wrap:wrap;
}
#home-sec-2-text h4{
  margin:30px 0 10px 0;
}
.home-sec-2-details{
  box-sizing:border-box;
  display:inline-block;
  text-align:center;
  /* vertical-align:top; */
}
.home-sec-2-details h4{
  margin:30px 0 10px 0;
}
.our-team{
  padding-bottom:30px;
}
.our-team h2{
  margin:0;
}
.home-team{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  margin-bottom:30px;
}
.home-bio{
  width:100%;
  margin-bottom:20px;
}
.bio-img{
  margin:0 auto;
  margin-bottom:20px;
  text-align:center;
  border-radius:50%;
  width:270px;
  height:270px;
  background-position:top;
  background-size:cover;
  box-shadow:8px 8px rgba(36, 54, 70, .4);
}
.paul{
  background-image:url("paul.jpg");
}
.ariana{
  background-image:url("ariana.jpg");
}
.joe{
  background-image:url("joe.jpg");
}
.text-circle{
  margin:inherit;
  background-color:rgb(36, 54, 70, .9);
  border-radius:50%;
  width:inherit;
  height:inherit;
  color:#cacbd7;
}
.text-circle p{
  font-size:.9em;
  padding:57px 20px 0 20px;
}
.home-nametag{
  margin:0 auto;
  background-color:rgb(36 54 70);
  text-align:center;
  font-size:1.4em;
  width:200px;
  padding:10px;
  border-radius:3px;
  box-shadow:8px 8px rgba(36, 54, 70, .4);
}

/*-------------------------consulting------------------*/
.consulting-sec-1-pic{
  display:none
}
.consulting-sec-1-text{
  text-align:center
}
.mastered-box{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  margin:0 auto;
  width:100%;
  max-width:800px;
}
.mastered{
  width:140px;
  background-color:#39bb6d;
  height:50px;
  border-radius:3px;
  margin:10px 5px;
}
.quote{
  display:flex;
  justify-content:flex-end;
  flex-wrap:wrap;
}
.quote-text{
  width:100%;
  font-size:1.25em;
}
.quote-sign{
  width:200px
}
.consulting-sec-3 h3{
  margin:60px 0 20px 0;
}
.contact-button{
  display:flex;
  justify-content:space-evenly;
}
.contact-button a{
  text-align:center;
  padding:15px 50px;
  background-color:#3185b5;
  text-decoration:none;
  border-radius:3px;
  box-shadow:6px 6px .5px rgba(36, 54, 70, .4);
  margin-bottom:60px;
  transition:.3s;
}
.contact-button a:hover{
  box-shadow:10px 10px 8px rgba(36, 54, 70, .4);
}
.disclaimer{
  font-size:.6em;
}

/*--------------------------------team------------------------------------*/
.team-bio{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  padding-bottom:60px;
}
.team-bio-1{
  width:100%;
  display:flex;
  justify:space-evenly;
  flex-wrap:wrap;
}
.team-bio .bio-img{
  width:150px;
  height:150px;
}
.profile-pic{
  width:60%;
}
.team-name{
  width:40%;
  padding-left:15px;
}
.team-bio-2{
  width:100%;
}
.team-sec-3{
  padding-top:30px
}

/* ---------------------------media queries----------------------------- */

@media screen and (min-width:350px) {
  .header-banner{
    padding-top:80px;
    width:80%;
  }
  .bio-img{
    width:300px;
    height:300px;
  }
  .text-circle p{
    padding:60px 20px 20px 20px;
    font-size:1em;
  }
  .mastered{
    width:160px
  }
}
@media screen and (min-width:500px) and (max-width:800px) {
  .home-sec-2-boxes{
    margin:0 auto;
    margin-top:20px;
    width:450px
  }
}
@media screen and (min-width:650px) {
  .header-banner{
    padding-top:120px;
    width:45%;
  }
  .home-sec-1 img{
    display:none;
  }
  .mastered{
    width:180px
  }
  .quote-text{
    font-size:1.5em;
  }
  .team-bio .bio-img{
    width:200px;
    height:200px;
  }
}
@media screen and (max-width:900px) {
  .header{
    background-position:0;
  }
}
@media screen and (min-width:730px) and (max-width:1000px) {
  .home-bio{
    width:50%;
    margin-bottom:0;
  }
}
@media screen and (min-width:800px) {
  .nav-content-container{
    width:450px;
    margin:0;
    padding:0;
  }
  .navbar a {
    font-size: 16px;
    padding: 14px 0;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    padding: 16px 0;
  }
  .dropdown-content a{
    padding:14px 14px;
  }
  .home-sec-1 .textbox{
    width:60%;
  }
  #home-sec-2-intro{
    width:55%
  }
  #home-sec-2-links{
    margin-top:20px;
    width:35%;
  }
  #home-sec-2-intro p{
    text-align:left;
  }
  .container{
    padding:0 1%;
  }
  .home-sec-2-details{
    padding:0 1%;
    width:24.5%;
  }
  .home-sec-2{
    display:flex;
    justify-content:space-evenly;
  }
  .home-sec-2-boxes{
    margin:20px 0 0 0;
  }
  .consulting-sec-1{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
  }
  .consulting-sec-1-pic{
    display:initial;
    width:350px;
    height:350px;
    border-radius:50%;
    background-image:url("consulting-img.png");
    background-size:cover;
    background-position:center
  }
  .consulting-sec-1-text{
    text-align:left;
    width:55%
  }
  .quote{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
  }
  .quote-text{
    width:70%;
  }
  .quote-sign{
    width:26%;
  }
  .team-bio-1{
    width:45%;
  }
  .profile-pic{
    width:60%;
  }
  .team-name{
    width:40%;
    padding-left:30px;
  }
  .team-bio-2{
    width:50%;
  }
  .team-sec-2-intro{
    width:60%;
  }
  .team-sec-2-details{
    display:flex;
    justify-content:space-evenly;
  }
  #innovation{
    padding:0 20px;
  }
}
@media screen and (min-width:800px) and (max-width:1000px) {
  #home-sec-2-text{
    flex-wrap:wrap;
  }
  .home-sec-2-details{
    box-sizing:border-box;
    width:49%;
    padding:0 1%;
    display:inline-block;
    text-align:center;
    vertical-align:top;
  }
}
@media screen and (min-width:800px) and (max-width:1200px) {
  .nav-container{
    padding-top:400px;
  }
  .header{
    height:450px;
  }
}
@media screen and (min-width:1000px) {
  .home-bio{
    width:33%
  }
  .consulting-sec-1-pic{
    height:400px;
    width:400px;
  }
  .quote-text{
    width:75%;
  }
  .quote-sign{
    width:21%;
  }
  .team-bio .bio-img{
    width:250px;
    height:250px;
  }
}
@media screen and (min-width:1200px) {
  .nav-container{
    padding-top:550px;
  }
  .header{
    height:600px;
  }
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
